body{
    background-image:url('https://c.wallhere.com/photos/ab/5c/10lane_1998x972_px_alien_Aliens_apocalyptic_cloverfield_Dark_drama-1630065.jpg!d')
}
.nombreSn{
    color:#009e66;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: xx-large;
   
}
/* .titulo{
    color: white;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: xx-large;
   

} */

.container{
    background-color: #4e4d4d;
    width:  90% ;
    height: 70vh;
    place-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family:'Montserrat', sans-serif;
   
}

.container input{
    display: block;
    width: 50%;
    border: 3px solid #009e66;
    margin-bottom: 15px;
    background: #f3ecec;
    font-size: 14px;
    font-weight: bold;


}


.registrate{
    width: 100%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 15px;
   
   
}

.login{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
   
}
.crearCuenta{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
        
      
    
    
}
.logo{
    width: 20px;
    height: 20px;
    
    
}

.loginGoogle{
    background-color: transparent;
    height: 50px;
    width: 65px;
    border-radius: 12px;
}



@media screen and (min-width:767px){
    .container{
        width:40% ;
        height: 70vh;}
        

}

