body{
    background-image:url('https://c.wallhere.com/photos/ab/5c/10lane_1998x972_px_alien_Aliens_apocalyptic_cloverfield_Dark_drama-1630065.jpg!d')
    /* background-color: #f3ecec; */
}
.nombreSn{
    color:#009e66;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: xx-large;
   
}

.container{
    background-color: #4e4d4d;
    width:  90% ;
    height: 70vh;
    place-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    font-family:'Montserrat', sans-serif;
    padding-top: 50px;
   
}

.container input{
    display: block;
    width: 50%;
    border: 3px solid #009e66;
    margin-bottom: 15px;
    background: #f3ecec;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;


}


.registrate{
    width: 100%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 15px;
   
   
}

.login{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
   
}
.crearCuenta{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;   
}

.logo{
    width: 20px;
    height: 20px;
    
    
}

.loginGoogle{
    background-color: transparent;
    height: 50px;
    width: 65px;
    border-radius: 12px;
}

.titulo-muro{
    margin-left: 65%;
    font-size: 30px;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
}

.fa-solid, .fas {
    font-size: x-large;}

.cerrar{
    margin-left: 85%;
    color: white;
}

#img-usuario{
    width: 60px;
    height: 60px;
}

.name-container{
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 15px;
}
#post-description{
    width: 300px;
    height: 80px;
    border-radius: 10px;
    border-color: #009e66;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 20px;
    border: 3px solid #009e66;
}

.btn-post-inactive{
    background-color: #009e66;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 20px;
}
#modal-background{
    margin-bottom: 50px;
}

aside{
   display: flex;
   justify-content: center;
}

.div-post-container{
    margin-bottom: 50px;
}
.counter-likebtn{
    display: flex;

}
#modal_header{
    display: flex;
    align-items: center;
}

.post-container-header{
    display: flex;
    align-items: center;
    
}
.post-content{
    width: 300px;
    height: 75px;
    border-radius: 10px;
    border: 3px solid #009e66;
    font-family: 'Rubik Bubbles', cursive;
    size: 13px;
    font-size: 17px;

}

.like{
    width: 30px;
    height: 30px;
    background-color: #009e66;
}

p {
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-family: 'Rubik Bubbles', cursive;
    color: white
    
}
#img-like{
    width: 30px;
    height: 30px;
}

.edit-img{
    background-color: #009e66;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}

.save-img {
    background-color: #009e66;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
}

.delete-img{
    background-color: #009e66;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 5px;
    font-size: 20px;
}

.hidden{
    display: none;
}

footer{
    text-align: center;
    padding-bottom: 15px;
    background-color: #009e66
}


@media screen and (min-width:767px){
    .container{
        width:40% ;
        height: 70vh;
        justify-content: space-between;
        
        }
        .nombreSn{
            font-size: 50px;
        }
        .titulo-muro{
            margin-left: 80%;
    
        }
        #post-description{
            width: 500px;
            height: 85px;
        }
        .post-content{
            width: 500px;
            height: 75px;
        }
        aside{
            display: flex;
            justify-content: center;
        }
        .name-container{
            font-size: 20px;
        }
    }     
