body{
    background-image:url('https://c.wallhere.com/photos/ab/5c/10lane_1998x972_px_alien_Aliens_apocalyptic_cloverfield_Dark_drama-1630065.jpg!d')
    /* background-color: #f3ecec; */
}
.nombreSn{
    color:#009e66;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: xx-large;
   
}
/* .titulo{
    color: white;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: xx-large;
   

} */

.container{
    background-color: #4e4d4d;
    width:  90% ;
    height: 70vh;
    place-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family:'Montserrat', sans-serif;
    padding-top: 2px;
   
}

.container input{
    display: block;
    width: 50%;
    border: 3px solid #009e66;
    margin-bottom: 15px;
    background: #f3ecec;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;


}


.registrate{
    width: 100%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 15px;
   
   
}

.login{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
   
}
.crearCuenta{
    width: 50%;
    height: 40px;
    background: #009e66;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;   
}

.logo{
    width: 20px;
    height: 20px;
    
    
}

.loginGoogle{
    background-color: transparent;
    height: 50px;
    width: 65px;
    border-radius: 12px;
}

.titulo-muro{
    /* text-align: right; */
    margin-left: 65%;
    font-size: 30px;
    color: white;
}

.cerrar{
    margin-left: 85%;
    color: white;
}

#img-usuario{
    width: 60px;
    height: 60px;
}

.name-container{
    color: white;
    font-style: normal;
    font-size-adjust: 10px;
}
#post-description{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    box-shadow: #009e66;
    margin: 10px;
    
}
#modal-background{
    margin-bottom: 50px;
}

aside{
   display: flex;
   justify-content: center;
}

.div-post-container{
    margin-bottom: 50px;
}
.counter-likebtn{
    display: flex;

}
#modal_header{
    display: flex;
    align-items: center;
}

.post-container-header{
    display: flex;
    align-items: center;
    
}
.post-content{
    width: 300px;
    height: 70px;
    border-radius: 20px;
    border-color: #009e66;
    size: 13px;

}

.like{
    width: 30px;
    height: 30px;
    
}
p {
    margin-block-end: 0%;
    margin-block-start: 0%;
    
}
#img-like{
    width: 30px;
    height: 30px;
}

.hidden{
    display: none;
}


@media screen and (min-width:767px){
    .container{
        width:40% ;
        height: 70vh;}
        .nombreSn{
            font-size: 50px;
        }
        .titulo-muro{
            margin-left: 80%;
    
        }
        #post-description{
            width: 500px;
            height: 70px;
        }
        .post-content{
            width: 500px;
            height: 70px;
        }

}
